<a href="https://colab.research.google.com/github/iamasifiqbal/ML_Projects/blob/main/Absenteesm_Excercise_Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df= pd.read_csv("/content/df_preprocessed.csv")

In [ ]:
df.head(20)

    Reason_1  Reason_2  Reason_3  ...  Children  Pets  Absenteeism Time in Hours
0          0         0         0  ...         2     1                          4
1          0         0         0  ...         1     0                          0
2          0         0         0  ...         0     0                          2
3          1         0         0  ...         2     0                          4
4          0         0         0  ...         2     1                          2
5          0         0         0  ...         0     0                          2
6          0         0         0  ...         1     4                          8
7          0         0         0  ...         4     0                          4
8          0         0         1  ...         2     0                         40
9          0         0         0  ...         1     1                          8
10         1         0         0  ...         4     0                          8
11         1         0         0  ...         4     0                          8
12         1         0         0  ...         4     0                          8
13         1         0         0  ...         0     0                          1
14         0         0         0  ...         0     0                          4
15         1         0         0  ...         0     0                          8
16         0         0         0  ...         0     0                          2
17         0         0         1  ...         0     0                          8
18         1         0         0  ...         2     2                          8
19         0         0         0  ...         2     1                          2

[20 rows x 15 columns]

###Create the Target

In [ ]:
df["Absenteeism Time in Hours"].median()

3.0

In [ ]:
targets= np.where(df["Absenteeism Time in Hours"] > 3 , 1,0)
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [ ]:
df["Excessive Absenteesm"] = targets
data_with_targets = df.drop(["Absenteeism Time in Hours"] , axis = 1)

In [ ]:
data_with_targets

     Reason_1  Reason_2  Reason_3  ...  Children  Pets  Excessive Absenteesm
0           0         0         0  ...         2     1                     1
1           0         0         0  ...         1     0                     0
2           0         0         0  ...         0     0                     0
3           1         0         0  ...         2     0                     1
4           0         0         0  ...         2     1                     0
..        ...       ...       ...  ...       ...   ...                   ...
695         1         0         0  ...         2     0                     1
696         1         0         0  ...         1     2                     0
697         1         0         0  ...         0     0                     1
698         0         0         0  ...         0     0                     0
699         0         0         0  ...         1     1                     0

[700 rows x 15 columns]

### Select the input for regression

In [ ]:
unscaled_input = data_with_targets.iloc[:, :14]

### Standerdize the Input

In [ ]:
# from sklearn.preprocessing import StandardScaler
# absenteesm_scale = StandardScaler()

In [ ]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

class CustomScaler(BaseEstimator , TransformerMixin):

    def __init__(self, columns, copy = True , with_mean  = True, with_std = True):
        self.scaler = StandardScaler(copy, with_mean , with_std)
        self.columns = columns
        self.mean_ = None
        self.var_ = None
    def fit(self, X, y = None):
        self.scaler.fit(X[self.columns] , y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self
    def transform(self, X, y = None, copy = None):
        in_col_order = X.columns
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]) , columns = self.columns)
        X_not_scaled = X.loc[: , X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled ,  X_scaled] , axis = 1)[in_col_order]

In [ ]:
unscaled_input.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Day of the Week', 'Transportation Expense', 'Distance to Work',
       'Age', 'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

In [ ]:
# columns_to_scale = ['Month Value', 'Day of the Week', 'Transportation Expense', 'Distance to Work',
#        'Age', 'Daily Work Load Average', 'Body Mass Index','Children', 'Pets']

columns_to_omit = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Education']

columns_to_scale = [x for x in unscaled_input.columns.values if x not in columns_to_omit]

In [ ]:
absenteesm_scale = CustomScaler(columns_to_scale)

In [ ]:
absenteesm_scale.fit(unscaled_input)

/usr/local/lib/python3.6/dist-packages/sklearn/base.py:197: FutureWarning: From version 0.24, get_params will raise an AttributeError if a parameter cannot be retrieved as an instance attribute. Previously it would return None.
  FutureWarning)

CustomScaler(columns=['Month Value', 'Day of the Week',
                      'Transportation Expense', 'Distance to Work', 'Age',
                      'Daily Work Load Average', 'Body Mass Index', 'Children',
                      'Pets'],
             copy=None, with_mean=None, with_std=None)

In [ ]:
scaled_inputs = absenteesm_scale.transform(unscaled_input)

KeyError: ignored

In [ ]:
scaled_inputs

In [ ]:
scaled_inputs.shape

### Train Test Split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(scaled_inputs, targets , train_size = .8, random_state = 20)

In [ ]:
x_train.shape

### Logistic Regression With sklearn

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

###Training the Model

In [ ]:
reg = LogisticRegression()

In [ ]:
reg.fit(x_train,y_train)

In [ ]:
reg.score(x_train, y_train)

### Manually Checking the Accuracy

In [ ]:
model_outputs = reg.predict(x_train)

np.sum(model_outputs == y_train)/ model_outputs.shape[0]

### Finding the intercept and Coeffecient

In [ ]:
reg.intercept_

In [ ]:
reg.coef_

In [ ]:
feature_name = unscaled_input.columns.values

In [ ]:
summary_table = pd.DataFrame( columns = ['Feature name'] , data = feature_name)

summary_table["Coefficient"] = np.transpose(reg.coef_)
summary_table

In [ ]:
summary_table.index = summary_table.index+1
summary_table.loc[0]  = ['Intercept' ,  reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

### Interpretig the Coefficient

In [ ]:
summary_table['Odds Ratio'] = np.exp(summary_table.Coefficient)
summary_table

In [ ]:
summary_table.sort_values('Odds Ratio' , ascending = False)